body {
  font-family: 'Roboto', sans-serif;
  background: #e5e5e5;
  width: 1600;
}
a {
  text-decoration: none;
}
li {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
}
figure {
  margin: 0;
}
h2 {
  margin: 0;
}
p {
  margin: 0;
}
/* хеадер */
.page-header {
  background-color: #ffffff;
}
.page-header a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.page-header a:hover {
  color: #2196f3;
}
.phone-number {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.phone-number:hover {
  color: #2196f3;
}
.logo-wbstudio {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
/* контент */
.hero-style {
  background-color: #2f303a;
}
.hero-style h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}
.hero-button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}
.features-text h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.features-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.features-style {
  background: rgba(255, 255, 255, 1);
}
.example-style {
  background: rgba(255, 255, 255, 1);
}
.example-style h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-style h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-text h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: #212121;
}
.team-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: #757575;
}
/* футер */
.footer-style {
  /* height: 252px; */
  background: #2f303a;
}
.footer-location {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-contact {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contact:hover {
  color: #2196f3;
}
