/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* цвет ссылок футера rgba(255, 255, 255, 0.6) */
/* цвет заголовка первого уровня #FFFFFF */
/* цвет акцента #2196F3 */
/* цвет бекграунда #FFFFFF */
/* цвет бекграунда секции "герой" #2F303A */
/* цвет бекграунда секции 'наша команда' #F5F4FA */

/* -------------------------------------------------- */
body {
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
  width: 1600;
}
a {
  text-decoration: none;
}
li {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
}
figure {
  margin: 0;
}
h2 {
  margin: 0;
}
p {
  margin: 0;
}
/* хеадер */
.page-header {
  background-color: #ffffff;
}
.nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}
.address-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.address-link:hover,
.address-link:focus {
  color: #2196f3;
}
.logo {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
/* контент главной страницы*/
.hero-style {
  background-color: #2f303a;
}
.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}
.hero-button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}
.features-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.features-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.example-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-style {
  background: #f5f4fa;
}
.team-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-subject {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: #212121;
}
.team-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: #757575;
}
/* контент страницы портфолио */

.port-filter {
  border-top: 1px solid #ececec;
}
.port-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.port-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
/* .port-content li {
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
} */
.button-style {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}
.button-style:hover,
.button-style:focus {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* футер */
.footer-style {
  /* height: 252px; */
  background: #2f303a;
}
.footer-location {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-contact {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contact:hover,
.footer-contact:focus {
  color: #2196f3;
}
